.container > div {
  background-color: pink;
  line-height: 200px;
  text-align: center;
  border: 1px solid black;
}

.container-nested > div {
  background-color: #FFC0CB;
}

.col-left, .col-right {
  padding:5px;
}

.col-left > div, .col-right > div {
  border: 1px solid white;
  background-color: #F07F80;
}
